In [131]:
import json
import pandas as pd
from collections import Counter
from statistics import mean
import numpy as np

In [2]:
df = pd.read_json("imdb_dataset_parsed.json")

In [3]:
df.head(3)

,title,rating,year,users_rating,votes,metascore,actors,genre,directors,runtime
0,12 Strong,R,2018.0,6.6,"42,919",54.0,"[Chris Hemsworth, Michael Shannon, Michael PeÃ...","[Action, Drama, History, War]",[Nicolai Fuglsig],130 min
1,The Silence of the Lambs,R,1991.0,8.6,"1,091,846",85.0,"[Jodie Foster, Lawrence A. Bonney, Kasi Lemmon...","[Crime, Drama, Thriller]",[Jonathan Demme],118 min
2,Blade Runner,R,1982.0,8.2,"609,925",89.0,"[Harrison Ford, Rutger Hauer, Sean Young, Edwa...","[Sci-Fi, Thriller]",[Ridley Scott],117 min

In [4]:
df = df.dropna()

In [89]:
directors_list = []
for directors in df["directors"]:
    for director in directors:
        directors_list.append(director)

In [90]:
directors_set = set(directors_list)
directors_list = list(directors_set)

In [91]:
my_dict = dict((el,[]) for el in directors_list)
for index,row in df.iterrows():
    for director in row["directors"]:
        my_dict[director].append(row["actors"])

In [92]:
final_dict = {}
for k,v in my_dict.items():
    final_dict[k] = [item for sublist in v for item in sublist]

In [93]:
for k in final_dict.keys():
    final_dict[k] = Counter(final_dict[k]).most_common(1)

In [95]:
for index,row in df.iterrows():
    for director in row["directors"]:
        for actor in row["actors"]:
            if(actor in final_dict[director][0][0]):
                final_dict[director].append(row["metascore"])

In [101]:
new_dict = {}
for k,v in final_dict.items():
    try:
        if final_dict[k][0][1] > 4:
            new_dict[k] = [final_dict[k][0][0],final_dict[k][0][1], final_dict[k][1:]]
    except:
        continue

In [156]:
df_couples = pd.DataFrame.from_dict(new_dict, orient='index')
df_couples.reset_index(level=0, inplace=True)
df_couples.columns = ["director", "actor", "number_of_films", "metascore_mean"]

In [158]:
mean_scores = []
for index,row in df_couples.iterrows():
    mean_scores.append(mean(row["metascore_mean"]))

In [159]:
df_couples["metascore_mean"] = mean_scores

In [163]:
df_couples

              director               actor  number_of_films  metascore_mean
0      Lawrence Kasdan         Kevin Kline                5       56.800000
1            James Wan      Patrick Wilson                5       56.000000
2      Alex Ross Perry      Kate Lyn Sheil                5       61.800000
3     Darren Aronofsky       Mark Margolis                6       69.833333
4           Tony Scott   Denzel Washington                5       59.200000
5   John R. Cherry III          Jim Varney                5       34.800000
6          Woody Allen         Woody Allen               18       69.055556
7     Steven Spielberg           Tom Hanks                5       76.800000
8     Robert Rodriguez         Danny Trejo                7       56.714286
9         Danny DeVito        Danny DeVito                5       59.000000
10      John Carpenter         Peter Jason                6       47.833333
11   Nicole Holofcener    Catherine Keener                5       73.200000
12      Richard Donner          Mel Gibson                6       54.333333
13       Aaron Seltzer     Crista Flanagan                5       15.200000
14          Ethan Coen   Frances McDormand                5       71.400000
15       Paul Schrader        Willem Dafoe                5       59.600000
16           Spike Lee           Spike Lee                7       65.857143
17         David Mamet           Ricky Jay                6       71.500000
18      Garry Marshall     Hector Elizondo                8       46.875000
19          Rob Zombie   Sheri Moon Zombie                5       45.400000
20          Adam McKay        Will Ferrell                5       61.000000
21          Tim Burton         Johnny Depp                8       69.375000
22         Ben Stiller         Ben Stiller                6       57.166667
23         Hal Needham       Burt Reynolds                5       38.200000
24        Frank Coraci        Adam Sandler                5       38.800000
25      Clint Eastwood      Clint Eastwood               20       65.200000
26      Bobby Farrelly           Rob Moran                5       45.200000
27           Joel Coen   Frances McDormand                5       71.400000
28         Neil Jordan         Stephen Rea                5       67.800000
29  Paul W.S. Anderson      Milla Jovovich                5       38.600000
30   Richard Linklater         Ethan Hawke                6       81.500000
31         Tommy Chong        Cheech Marin                5       43.200000
32   Steven Soderbergh      George Clooney                6       65.500000
33   Christopher Nolan       Michael Caine                6       74.333333
34          Justin Lin           Sung Kang                5       57.200000
35           Joe Dante         Dick Miller                5       58.400000
36  Sylvester Stallone  Sylvester Stallone                7       52.142857
37       Blake Edwards        Graham Stark                8       54.500000
38        Edward Burns        Edward Burns                6       54.000000
39      Peter Farrelly           Rob Moran                5       45.200000
40       Albert Brooks       Albert Brooks                5       65.000000
41         Kevin Smith         Ben Affleck                6       55.500000
42        Ridley Scott       Russell Crowe                5       60.000000
43         Tyler Perry         Tyler Perry                7       35.142857
44          Ron Howard        Clint Howard                6       57.833333
45        James Franco        James Franco                6       43.166667
46        Henry Jaglom         Zack Norman                5       45.200000
47         Ron Shelton   Lolita Davidovich                5       53.800000
48        Dennis Dugan        Adam Sandler                8       33.500000
49           Sam Raimi           Ted Raimi                7       64.000000
50       Jason Reitman        J.K. Simmons                5       69.400000
51          David Wain           Paul Rudd                5       53.200000
52     Jason Friedberg     Crista Flanagan                5       15.200000
53      Gore Verbinski         Johnny Depp                5       55.600000
54     Martin Scorsese      Robert De Niro                8       81.125000
55        Wes Anderson         Bill Murray                8       78.500000
56         John Waters          Mink Stole                5       64.000000

In [162]:
#df_couples.to_json("couples.json", orient='records')